.welcome-header{
    margin:90px 0;
    /* H1,p같은 텍스트 다루는거니까 display:flex안하고 이렇게 쓸 수 있는 것 */
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text{
    width: 60%;
    opacity: 0.7;
}

/* 위쪽, 아래쪽 어느 방법이 더 편한지 판단은 본인의 몫
아래 #대신 위의 방법을 이용했더라면 (bem)
.login-form__input{}
.login-form__btn{}
.login-form__a
 */

#login-form{
    display:flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border:none;
    padding:15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input[type="submit"]{
    color:darkgray;
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder{
    color:rgba(0,0,0,0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding:20px 0px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color:inherit;
    font-size: 13px;
}